<app-navbar> </app-navbar>

<body>


<h1 class="testo-socials">SOCIALS:</h1>
<div class="container my-5">
  <button  type="button" class="btn btn-dark"><a href="https://www.facebook.com/luigi.buono.9250"target=_blank>Facebook</a></button>
  <button  type="button" class="btn btn-dark"><a href="https://github.com/luigibuono" target="_blank">GitHub</a></button>
  <button  type="button" class="btn btn-dark"><a href="https://www.linkedin.com/in/luigi-buono-334b73258/"target=_blank>Linkedin</a></button>
  <button  type="button" class="btn btn-dark"><a href="https://twitter.com/LuigiBu48833456"target=_blank>Twitter</a></button>
  <button  type="button" class="btn btn-dark"><a href="https://www.instagram.com/luigi.buono_/"target=_blank>Instagram</a></button>
</div>


<style>
  body{
    background-image: url('../assets/sfondo5.jpg');
   }
  </style>


</body>
