.container {
  width: 40%;
  height:auto;
  color:aliceblue;
  bottom:0;
  display:flex;
  position:relative;
  flex-wrap: wrap;
 
  justify-content: space-between;
  margin-left: 32%;


}

.testo-socials{
  text-align:start;
  margin-left: 32%;
  font-size:20px;
  font-family:Impact,'Arial Narrow Bold', sans-serif;



}
