.container {
  height: 100%;
  min-height: 80vh;
  background-color: white;

}

.speaker-form {
  display: flex;
  flex-direction: column;

}

label {
  margin: 12px;
}
button {

  margin: 20px;
  font-size: 20px;
  width: 100px;
  text-align: center;

}

input,
select {
  width: 450px;
  padding: 5px;


}

.alert-danger {
  font-size: 13px;
  padding: 7px;
}

.response {
  color: green;
  font-style: italic;
}


body{
  margin: 100px;

}
