<mat-sidenav-container class="example-container" >
  <mat-sidenav mode="side" opened>
    <mat-list role="list">
    <mat-list-item role="listitem" routerLink="/users" [routerLinkActive]="'active'">users</mat-list-item>
    <mat-list-item role="listitem" routerLink="/posts"[routerLinkActive]="'active'">posts</mat-list-item>
    <mat-list-item role="listitem"routerLink="/mysocials"[routerLinkActive]="'active'">mysocials</mat-list-item>
  </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" (click)="logout()" aria-label="Example icon-button with heart icon">
      <mat-icon>logout</mat-icon>
    </button>

  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>

