.container {
  background-color: white;
  min-height: 80vh;
  height: 100%;
}
.user-datail {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.user-datail p {
  font-size: 1.8rem;
}
.user-datail h1 {
  margin: 20px;
}
.buttonUserDetail button {
  margin: 10px;
}

.delete-pop-up {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  flex-direction: column;
}
.form-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 350px;
  flex-direction: column;
}

.delete-pop-up label {
  margin: 8px;
}
.delete-pop-up input,
select {
  padding: 7px;
  width: 85%;
}

.button-delete-pop-up button,
.button-for-edit button {
  margin: 10px;
  margin-top: 30px;
}

.button-for-edit {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.see-post-span {
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
}

.container-post-detail {
  margin: 20px;
  text-align: center;
  padding: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 900px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.comment-button {
  text-decoration: underline;
  cursor: pointer;
  font-style: italic;
  font-size: 12px;
}
