<app-navbar> </app-navbar>

<body>

<div class="container">
  <h1>New post</h1>
  <form class="speaker-form" #newPostForm="ngForm" (ngSubmit)="createNewPost()">
    <label for="title">POST TITLE</label>
    <input
      #title="ngModel"
      name="title"
      type="text"
      minlength="8"
      required
      [(ngModel)]="newPost.title"
    />
    <div class="alert alert-danger" *ngIf="title.invalid && title.touched">
      Title is invalid, min lenght is 8 characters.
    </div>
    <label for="body">CONTENT</label>
    <textarea
      name="body"
      #body="ngModel"
      cols="30"
      rows="10"
      [(ngModel)]="newPost.body"
      required
      minlength="20"
    ></textarea>
    <div class="alert alert-danger" *ngIf="body.invalid && body.touched">
      Body is invalid, min lenght is 20 characters.
    </div>
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!newPostForm.form.valid"
    >
      SAVE
    </button>
    <div class="response-box">
      <p class="response">{{ response }}</p>
    </div>
  </form>
</div>


</body>
