<body>
<div class="container">
  <div class="box">
    <h1>PROGETTO NTT-DATA</h1>


    <form #newUserForm="ngForm" (ngSubmit)="login()" id="loginForm">
      <label for="name">NAME</label>
      <input
        #name="ngModel"
        type="text"
        name="name"
        [(ngModel)]="newCurrentUser.name"
        class="form-control"
        placeholder="Your Name"
        minlength="5"
        required
      />
      <span class="alert alert-danger" *ngIf="name.invalid && name.touched">
        Your name is invalid, min lenght is 5 characters
      </span>
      <label for="email">EMAIL</label>
      <input
        #email="ngModel"
        name="email"
        type="email"
        class="form-control"
        placeholder="Your Email"
        pattern="[a-z0-9._%+-]+@[a-z0-9-.]+\.[a-z]{2,}$"
        required
        [(ngModel)]="newCurrentUser.email"
      />
      <span class="alert alert-danger" *ngIf="email.invalid && email.touched">
        Your e-mail is invalid
      </span>

      <label for="gender">Gender</label>
      <select
        id="gender"
        name="gender"
        required
        class="form-control"
        [(ngModel)]="newCurrentUser.gender"
      >
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>

      <label for="token">TOKEN</label>
      <input
        #token="ngModel"
        class="form-control"
        type="text"
        name="token"
        placeholder="Access Token"
        required
        [(ngModel)]="tokenKey"
        minlength="64"
        maxlength="64"
      />

      <span class="alert alert-danger" *ngIf="token.invalid && token.touched">
        Your token is invalid
      </span>

      <div style="display: flex; justify-content: center; width: 100%">
        <button
          type="submit"
          class="btn btn-default"
          [disabled]="!newUserForm.form.valid"
        >
          ENTER
        </button>
      </div>
      <div class="info-box">
        <p class="info">
          To get your token click
          <a href="https://gorest.co.in/consumer/login" target="_blank">here</a>
        </p>
      </div>
    </form>
  </div>
</div>
<style>
body{
  background-image: url('../assets/sfondo1.png');
  height: 100%;
 }
</style>


</body>


